.widget {
  color: #401d81;
  background: #fbf9ff;
  border-color: #401d81 !important;
}

.widget,
#floating-button {
  filter: hue-rotate(0deg);
}

.widget-header,
.widget-tabs,
#floating-button {
  color: #e4d6ff;
  background: #401d81;
}

.tab-button {
  color: #fbf8ff;
  background: #401d81;
  opacity: .5;
}

.tab-button:hover {
  background: #916ccc;
  opacity: .75;
}

.tab-button.is-active {
  opacity: 1;
  background: #916ccc;
}

.settings .material-symbols-rounded {
  color: #cdadff;
}

.settings:hover .material-symbols-rounded {
  text-shadow: 0 0 10px #ae7aff;

  transition: all 0.3s ease;
}

.muted {
  color: #9583d0;
}

.widget :focus-visible {
  outline: none;
  box-shadow: none;
}
