.widget {
    color: #401d81;
    background: #fbf9ff;
    border-color: #401d81 !important;
}

.widget, #floating-button {
    filter: hue-rotate(0deg);
}

.widget-header, .widget-tabs, #floating-button {
    color: #e4d6ff;
    background: #401d81;
}

.muted {
  color: #9583d0;
}