.widget {
  color: #401d81;
  background: #fbf9ff;
  border-color: #401d81 !important;
}

.widget,
#floating-button {
  filter: hue-rotate(0deg);
}

.widget-header,
.widget-tabs,
#floating-button {
  color: #e4d6ff;
  background: #401d81;
}

.tab-button {
  color: #401d81;
  background: #cdadff;

  box-shadow: inset 0 -3px 8px #401d81;
}

.tab-button.is-active {
  box-shadow: inset 0 -3px 8px #cdadff;

  color: #cdadff;
  background: #401d81;

  
}

.settings .material-symbols-rounded {
  color: #cdadff;
}

.settings:hover .material-symbols-rounded {
  text-shadow: 0 0 10px #ae7aff;

  transition: all .3s ease;
}

.muted {
  color: #9583d0;
}
