.schedule-table-wrap {
    border-color: #401d81;
}

.schedule-table thead th {
    color: #401d81;
    background: #cdadff;

    box-shadow: inset 0 3px #401d81, inset 0 -3px #401d81;
    border-color: #401d81;
}

.schedule-table th, .schedule-table td {
 border-color: #401d81;   
}

.schedule-table td, .schedule-time {
    color: #401d81;
    background: #fbf9ff;
}

.schedule-entry-float {
    background: #e4d6ff;
    color: #290068;
}

.term-button {
    background: #cdaefc;
    color: #401d81;

    border-color: #401d81;

    transition: all 0.3s ease;
}


.term-button.is-active {
    background: #401d81;
    color: #cdaefc;
}