button {
  color: #401d81;
  background: #cdadff;
}

.btn {
  border: none;

  color: #fbf8ff;
  background: #401d81;
}

.btn:hover {
  opacity: .75;
  background: #916ccc;
}

.btn:active {
  opacity: 1;
}

#widget-search {
  background-color: #ede2ff;
  color: #401d81;
  opacity: .5;

  border: 1px solid #6b4fd6;
  border-radius: 999px;

  transition: all .2s ease;
}

#widget-search::placeholder {
  color: #401d81;
  opacity: .75;
}

#widget-search:hover:not(:focus-visible) {
  box-shadow: 0 0 8px #ede2ff;
}

#widget-search:focus-visible {
  opacity: 1;
}