.btn {
  padding: 6px 10px;

  border-radius: 8px;

  font-size: 12px;

  cursor: pointer;
}

.tab-button {
  border: none;

  transition: all 0.3s ease;
}

.tab-button .text {
  display: inline-block; 
  transition: all 0.1s ease;
}

.tab-button:hover .text {
  translate: 0 -1px;
}