.btn {
  padding: 6px 10px;

  border-radius: 999px;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  
  opacity: .75;

  transition: all 0.3s ease;
}

.tab-button {
  border: none;

  transition: all 0.3s ease;
}

.tab-button .text {
  display: inline-block; 
  transition: all 0.3s ease;
}

.tab-button:hover:not(.is-active) .text {
  opacity: 1;
}