@import "./general.css";
@import "./widget-shell.css";
@import "./widget-buttons.css";
@import "./floating-button.css";
@import "./course-list.css";
@import "./schedule-view.css";
@import "./schedule-view-events.css";